<p><a href="/login">Login</a></p>
<p><a href="/logout">Logout</a></p>

<% @songs.each do |song| %>
  <div class="song">
    <!-- <h3><%= song.Song_title %> <small>(by: <%= song.Author %>)</small></h3> -->
    
    <h3><a href="/messages/<%= song.id %>"><%= song.Song_title %></a><small>(by: <%= song.Author %>)</small></h3>
    <p>
      <%= "URL: #{song.URL}, created by: #{song.user.user_name}, created at: #{song.created_at}" %>
    </p>
  </div>
<% end %>
<p><a href="/messages/new">Post a new song... Login First!</a></p>
<p><a href="/">Back to homepage</a></p>