<h1><%= @song.Song_title %></h1>

<p>
  <%= @song.Author %>
</p>

<p>
  <%= @song.URL  %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>
<a href="/messages/<%= @song.id %>/edit">Edit this message</a>
<form action="/messages/<%= @song.id %>" method="POST">
	  <input type="hidden" name="_method" value="DELETE">
	  <input type="submit" value="delete this message">
</form>
<p>
<form action="/messages/<%= @song.id %>" method="POST">
  <button type="submit" class="btn btn-default btn-xs">Like</button>
</form><% if Vote.all.empty? %><%= "0" %>
<% else %><%= "#{Vote.where(song_id: @song.id).count}" %>
<% end %>
</p>
